/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

img {
    max-width: 100%;; 
}



/* utility */
.hidden {
    display: none;
}

.active {
    display: block;
}

/* ms */

div.ms_head {
    background-color: #009688;
    height: 140px;
} 

div.ms_body {
    background-color: #dadbd4;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
} 
/* bs rules  */

div.ms_container {
    background-color: #ffffff;
    height: 95%;
    position: absolute;
    top: 20px;
    width: 80%;
}

.row .ms_nav{
    width: 35%;
    /* deb */
    background-color: aqua;
    height: 900px;  
}

.ms_chat{
    width: 65%;
    /* deb  */
    background-color: rgb(255, 0, 119);
    height: 900px;
}

.ms {
    height: 10px;
}