/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family:Helvetica, sans-serif;
    position: relative;
}

img {
    max-width: 100%;; 
}



/* utility */
.hidden {
    display: none;
}

.active {
    display: block;
}

/* ms */

div.ms_head {
    background-color: #009688;
    height: 140px;
} 

div.ms_body {
    background-color: #dadbd4;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
} 
/* bs rules  */

div.ms_container {
    background-color: #ffffff;
    height: 95%;
    position: absolute;
    top: 20px;
    width: 80%;
    display: flex;
}

div.ms_cont_nav{
    width: 35%;
    /* deb */
    background-color: aqua; 

}


.ms_cont_chat-prev{
    overflow-y: auto;
    height: 500px;
}

.ms_cont_chat-prev .ms_chat-prev {
    background-color: #4b2c2c;
    /* deb */
    height: 80px;

}

div.ms_chat{
    width: 65%;

}

.ms_chat-head {
    background-color: #eaeaea;
    /* deb */
    height: 70px;
    border-left: 1px #d6d6d6 solid ;
}

.ms_chat-body {
    background-image: url("../img/mine.jpg");
    /* deb */
    height: calc(100% - 140px);
}

.ms_chat-foot {
    background-color: #eaeaea;
    /* deb */
    height: 70px;
}

.ms_cont_nav .ms_nav {
    background-color: #eaeaea;


}

div.ms_nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div .ms_nav-item-user {
    display: flex;
    align-items: center;
}

img.ms_user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin:5px 10px;

}

.ms_nav-item-details i{
    margin:0 10px;
    color: #b1b1b1;
}

.ms_cont_nav .ms_alert {
    background-color: #8edafc;
    display: flex;
    align-items: center;
    /* deb */
    height: 80px;


}

.ms_alert-icon {
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    width: 50px;
    height: 45px;
}

div.ms_alert-text {
    font-size: 14px;
    font-weight: semi-bold;
    margin-left: 10px;
}

div.ms_alert-text a {
    display: block;
    color: #6396b0;
    text-decoration:underline;
}

.ms_cont_nav .ms_search {
    background-color: #eaeaea;

}

.ms_search form {
    padding: 10px 5px;


}
.ms_search-icon {
    background-color: #ffffff;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control {
    border-top-left-radius: 0;  
    border-bottom-left-radius: 0;  
}   