/* general rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

img {
    max-width: 100%;; 
}



/* utility */
.hidden {
    display: none;
}

.active {
    display: block;
}

/* ms */

div.ms_head {
    background-color: #009688;
    height: 140px;
} 

div.ms_body {
    background-color: #dadbd4;
    height: calc(100vh - 140px);
    display: flex;
    justify-content: center;
} 
/* bs rules  */

div.ms_container {
    background-color: #ffffff;
    height: 95%;
    position: absolute;
    top: 20px;
    width: 80%;
    display: flex;
}

div.ms_cont_nav{
    width: 35%;
    /* deb */
    background-color: aqua; 

}

div.ms_chat{
    width: 65%;
    /* deb  */
    background-color: rgb(255, 0, 119);

}

.ms_cont_nav .ms_nav {
    background-color: #eaeaea;
    /* deb */
    height: 70px;

}
.ms_cont_nav .ms_alert {
    background-color: #8edafc;
    /* deb */
    height: 80px;

}

.ms_cont_nav .ms_search {
    background-color: #eaeaea;
    /* deb */
    height: 50px;

}

.ms_cont_chat-prev{
    overflow-y:visible;
}

.ms_cont_chat-prev .ms_chat-prev {
    background-color: #1e1c1c;
    /* deb */
    height: 80px;

}